# Auto detect text files and perform LF normalization
* text=auto

# Current model binaries use Git LFS.
*.blend filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.3mf filter=lfs diff=lfs merge=lfs -text
*.step filter=lfs diff=lfs merge=lfs -text
*.STEP filter=lfs diff=lfs merge=lfs -text

*.uasset filter=lfs diff=lfs merge=lfs -text

*.umap filter=lfs diff=lfs merge=lfs -text
